<div id="footerwrap">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">

                <div style="display:flex;
                            justify-content:space-between;
                            align-items:center;">

                    <p style="max-width:900px; margin:0;">
                        <strong>About CAPE:</strong>
                        We bring together observations, models, and data science to
                        improve understanding and prediction of hydrological processes
                        across scales from hillslopes to continents.
                    </p>

                    <img src="{{ "/assets/img/Logo_Horz_White.png" }}"
                         style="max-width:220px;
                                height:auto;
                                margin-left:30px;
                                flex-shrink:0;">

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hline-w"></div>

                <p
                style="font-size:12px;line-height:1.2;color:white;opacity:0.8;">
                    <strong>Land Acknowledgement:</strong>
                    We respectfully acknowledge that we live and work on Treaty
                    7 Territory and the Homeland of the Métis, Tsuut'ina, Stoney,
                    and Blackfoot. We thank these nations for their care and
                    stewardship over this land and water, and we pay respect to
                    the ancestors of these places.
                </p>
            </div>
        </div>

    </div>
</div>
