<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size:30px;">
                Welcome to the
                <span style="color:#d6001c;">CAPE</span><br>
                Cooperative Alliance for Prediction of the Environment<br>
                </h1>
                <p style="font-size:20px;">at the <a
                  href="https://www.ucalgary.ca/">University of Calgary</a></p>
                <div class="spacing"></div>
            </div>
            <div class="spacing"></div>
            <div class="col-lg-12 himg">
                <img src="{{ "/assets/img/3sisters2shipsProw.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
